.svg-card__icon{
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color:#F5F4FA;
    ;
}
.svg-card__svg{
    max-width: 270px;
}
.svg-card__excerpt{
    width: 270px;
    height: 75px;
}