.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding-bottom: 94px;
    padding-top: 94px;
}
.container--hero{
    flex-direction: column;   
    align-content: center;
    background-color:var(--dark-background);
    background-image: url('../images/slider.png');
    background-repeat: no-repeat;
    padding: 0%;
}
@media (min-width: 1024px) {
    .container--hero {
     background-repeat: repeat;
    }
  }

.container--pictures{
    flex-direction: column;
}
@media (max-width: 1200px) {
    .container--pictures {
     display: none;
    }
  }
.container--dark{
    background-color: rgba(245, 244, 250, 1);
}
.container-customer{
    flex-direction: column;
}
@media (min-width: 768px) {
  .container-customer{
    padding: 0px 15px 60px 15px;
  }
}
/*@media (min-width: 768px) {
    .container--four {
      min-width: 480px;
      max-width: 1024px;
      margin: 0 auto;}

    .container--dark{
      min-width: 480px;
      max-width: 1024px;
      margin: 0 auto; 
      }
      .container-customer{
      min-width: 480px;
      max-width: 1024px;
       margin: 0 auto;  
      }
    }*/
    