.section__heading--hero{
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    color: var(--white-color);
    text-align: center;
    margin-top: 200px;
}
