.container__logo {
  display: flex;
  font-family: 'Raleway';
   font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 1.19;
  text-decoration: none;

  align-items: center;
  color: var(--subtitle-color);
  justify-content: center;
  }
  
  @media (min-width: 768px){
    .container__logo--header{
      margin-right: 93px;
    }
    .container__logo--footer{
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width:767px){
    .container__logo--header{
      margin-left: 15px;
    }
  }
.logo__span{
  color: var(--highlight-color);
  }
.container__logo--footer{
  color: var(--white-color);
}
@media (min-width: 768px){
.container__logo--header{
  margin-right: 93px;
}
}
