:root {
    --highlight-color: #2196f3;
    --white-color: #ffffff;
    --dark-background: #191c26;
    --subtitle-color: #212121;
    --description-color: #757575;
    --icon-color: #afb1b8;
    --icon-backround: #e5e5e5;
  }
  $gap: 30px;